* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Barlow";
    
}

/* mobile size *//* mobile size */
header {
    padding-left: 24px;
    margin-bottom: 20px;
    
    
}
.header_1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    padding-right: 24px;
}
.header_logo {
    margin-top: 27px;
    width: 40px;
    height: 40px;
}
.header_button1 {
    height: 48px;
    width: 175px;
    background-color: #E8EFF2;
    border: none;
    margin-top: 23px;
    border-radius: 8px;
    color: #162542;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}
.header_texts h1 {
    color: #162542;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
}

p {
    color: #7B8BAD;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;

}
.header_button2 {
    background-color: #F16718;
    height: 48px;
    width: 175px;
    border: none;
    margin-top: 23px;
    border-radius: 8px;
    color: white;
}
.button_date {
    display: flex;
    align-items: center;
    gap: 32px;
}
.button_date h4 {
    font-size: 16px;
    font-weight: 700;
    color: #7B8BAD;
    margin-top: 25px;
}

.header_img_mobile {
    background-image: url(./assets/mobile/image-keyboard.jpg);
    width: 351px;
    background-repeat: no-repeat;
    margin-top: 64px;
    height: 331px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: cover;
}
.header_img_tablet {
    display: none;
}
.main_img1_tablet {
    display: none;
}
.main_img2_tablet {
    display: none;
}
/* main *//* main *//* main *//* main */

.main_1 {
    display: flex;
    margin-bottom: 75px;
    width: 100%;
    padding-right: 24px;
}
/* /////////////////////////////////////////////// */
.main_img_container {
    right: 25px;
    position: relative;
}
.orange_color {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F16718;
    opacity: 0.5;
    border-radius: 20px;
    
}
.main_img1 {
    width: 144px;
    height: 193px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
   
}
/* /////////////////////////////////////////////// */
.main_img2 {
    width: 220px;
    border-radius: 20px;
}


.main_texts h1 {
    font-size: 32px;
    font-weight: 900;
    width: 255px;
    text-align: center;
    margin-left: 60px;
}

.main_texts p {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}

.main_2 {
    padding-left: 24px;
    padding-right: 24px;
    
}

.main_2 h1 {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 24px;
    
    
    
}
.main_2 p {
    text-align: center;
    
}

.logo_div {
    width: 65px;
    height: 65px;
    background-color: #F16718;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 48px;
    
    
}
.containers {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 96px;
    margin-bottom: 50px;
    justify-content: center;
}
span {
    font-weight: 700;
}
/* tablet-size *//* tablet-size *//* tablet-size */
@media (min-width: 768px) {
header {
    padding-left: 39px;
    padding-top: 49px;
    padding-right: 40px;
}
.header_texts {
    margin-top: 131px;
    
}
.header_texts h1 {
    width: 339px;
}
.header_texts p {
    width: 339px;
    margin-bottom: 39px;
}
.header_img_mobile {
    display: none;
}
.header_img_tablet {
    display: inline;
    background-image: url(./assets/tablet/image-keyboard.jpg);
    width: 300px;
    background-repeat: no-repeat;
    height: 425px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 200px;
    margin-bottom: 40px;   
    
    
}

.header_button1 {
    height: 58px;

}
.header_button2 {
    height: 58px;
}
.button_date {
    margin-bottom: 130px;
}
.main_texts {
    display: flex;

}
.main_1 {
    padding-left: 40px;
    
}
.main_texts h1 {
   margin-left: 40px;
   text-align: justify;
}
.main_texts p {
    text-align: justify;
    width: 398px;
    
}

.main_2 {
    padding-left: 39px;
}
.containers {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 69px;
    margin-top: 142px;
    flex-direction: row;
}
.container {
    align-items: start;
}

.container h1 {
    text-align: start;
}
.container p {
    width: 281px;
    text-align: justify;
}
.main_img1 {
    display: none;
}
.main_img1_tablet {
    display: inline;
    width: 214px;
    border-radius: 20px;
}
.main_img2 {
    display: none;
}
.main_img2_tablet {
    display: inline;
    width: 445px;
    border-radius: 20px;
    
}














}
